In [18]:
# Imports

import os
import sys
import pandas as pd
from pandas.plotting import scatter_matrix
import random
from matplotlib import pyplot as plt
import itertools
import numpy as np
from matplotlib.pyplot import figure
from Bio.Seq import Seq
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord

In [19]:
HUMAN_ID = "NM_173527_3_Homo_sapiens_RRAD_and_GEM_like_GTPase_2_REM2_mRNA_1"

FASTA = os.path.join("..", 
                     "results", 
                     "mammalian_REM2", 
                     "mammalian_REM2_codons.SA.FilterOutliers.fasta")

In [21]:
def process_sites(input_file):                                
    fasta_sequence = SeqIO.parse(open(input_file),'fasta')
    fasta_dict = {}                                                   #init
    for record in fasta_sequence:                                     #loops over each species
        ID, SEQ, site_count, nt_num = record.id, record.seq, 1, 0
        fasta_dict[ID] = {}                                             #init
        while SEQ[nt_num:nt_num+3]:                                     # loop over codons
            codon = str(SEQ[nt_num:nt_num+3])
            fasta_dict[ID][site_count] = codon
            site_count += 1
            nt_num += 3
         #end while
    #end for
    return fasta_dict
#end method

In [22]:
a = process_sites(FASTA)

In [23]:
# The alignment is from 1 to N
# The human sequence is a discontinuous list of integers from i to j
MAP_ALIGNMENT_TO_HUMAN = []

for site in a[HUMAN_ID].keys():
    codon = a[HUMAN_ID][site]
    if "-" in codon and codon != "---":
        print(codon) # look for ambiguous codons visually.
    # end if
    
    if codon != "---": # not a gap site.
        #print(site, codon)
        MAP_ALIGNMENT_TO_HUMAN.append(site)
    #end if
#end for

In [24]:
output_dict = {}

A = []
B = []

for n, item in enumerate(MAP_ALIGNMENT_TO_HUMAN):
    A.append(n+1)
    B.append(item)
#end for

output_dict["HumanSite"] = A
output_dict["AlignmentSite"] = B

In [25]:
# Human site number, alignment site number
output_dict

df = pd.DataFrame.from_dict(output_dict)
df.index += 1
df

     HumanSite  AlignmentSite
1            1              1
2            2              2
3            3              4
4            4              5
5            5              6
..         ...            ...
336        336            623
337        337            624
338        338            625
339        339            626
340        340            627

[340 rows x 2 columns]

In [26]:
df.to_csv( os.path.join("..", 
                        "results", 
                        "mammalian_REM2", 
                        "mammalian_REM2_codons.SA.FilterOutliers.fasta_AlignmentMap.csv"), 
          index=False)