In [2]:
import pandas as pd
import numpy as np
import os
import json
import altair as alt
import csv
import json

In [8]:
JSON_FILE_FEL = os.path.join("..", "results", "mammalian_REM2", "mammalian_REM2_codons.SA.fasta.FEL.json")
JSON_FILE_MEME = os.path.join("..", "results", "mammalian_REM2", "mammalian_REM2_codons.SA.fasta.MEME.json")

# This can also be passed in
pvalueThreshold = 0.05

In [9]:
def getMEMEData(json_file):
    # assert that the file exists
    with open(json_file, "r") as in_d:
        json_data = json.load(in_d)
    return json_data["MLE"]["content"]["0"]
#end method

def getMEMEHeaders(json_file):
    # assert that the file exists
    with open(json_file, "r") as in_d:
        json_data = json.load(in_d)
    return json_data["MLE"]["headers"]
#end method

def getFELData(json_file):
    with open(json_file, "r") as in_d:
        json_data = json.load(in_d)
    return json_data["MLE"]["content"]["0"]
#end method

def getFELHeaders(json_file):
    with open(json_file, "r") as in_d:
        json_data = json.load(in_d)
    return json_data["MLE"]["headers"]
#end method

In [11]:
columns_MEME = getMEMEHeaders(JSON_FILE_MEME)
headers_MEME = [x[0] for x in columns_MEME]

columns_FEL = getFELHeaders(JSON_FILE_FEL)
headers_FEL = [x[0] for x in columns_FEL]


df_FEL = pd.DataFrame(getFELData(JSON_FILE_FEL), columns=headers_FEL, dtype = float)
df_FEL.index += 1
df_FEL["codon"] = df_FEL.index

df_MEME = pd.DataFrame(getMEMEData(JSON_FILE_MEME), columns=headers_MEME, dtype = float)
df_MEME.index += 1
df_MEME["codon"] = df_MEME.index

In [12]:
df_FEL

,alpha,beta,alpha=beta,LRT,p-value,Total branch length,dN/dS LB,dN/dS MLE,dN/dS UB,codon
1,0.000000,0.052730,0.052692,0.005654,9.400637e-01,0.705163,3823.044086,10000.000000,10000.000000,1
2,1.853714,0.284076,0.496046,9.752755,1.790542e-03,6.638503,0.065811,0.153247,0.298059,2
3,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,3
4,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,4
5,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,5
...,...,...,...,...,...,...,...,...,...,...
652,0.000000,0.104784,0.090391,0.894607,3.442319e-01,1.209682,5269.244933,10000.000000,10000.000000,652
653,0.649792,0.118816,0.260238,6.007362,1.424631e-02,3.482715,0.045394,0.182852,0.478508,653
654,4.015528,0.230171,0.968502,52.591164,4.107825e-13,12.961297,0.022821,0.057320,0.116430,654
655,0.818452,0.118531,0.313360,9.183094,2.442607e-03,4.193647,0.035823,0.144823,0.378492,655
656,0.551441,0.205186,0.297837,2.270177,1.318849e-01,3.985898,0.133130,0.372090,0.806188,656

In [13]:
df_MEME

,&alpha;,&beta;<sup>-</sup>,p<sup>-</sup>,&beta;<sup>+</sup>,p<sup>+</sup>,LRT,p-value,# branches under selection,Total branch length,MEME LogL,FEL LogL,Variation p,codon
1,0.000000,0.000000,0.992864,11.797603,0.007136,9.909829,0.003078,1.0,0.0,-18.208283,-13.261810,0.007108,1
2,1.688158,0.163417,0.983715,10.082298,0.016285,2.096259,0.172849,1.0,0.0,-80.726016,-78.041588,0.068260,2
3,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,1.000000,3
4,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,1.000000,4
5,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,1.000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,0.000000,0.000000,0.860111,0.592448,0.139889,1.955131,0.186560,1.0,0.0,-16.112026,-15.581849,0.588501,652
653,0.622511,0.000000,0.893664,0.892982,0.106336,0.057907,0.599153,1.0,0.0,-48.212882,-47.515201,0.497738,653
654,4.037315,0.000000,0.942888,4.107561,0.057112,-0.001848,0.666667,3.0,0.0,-134.372661,-130.610607,0.023236,654
655,0.693206,0.045217,0.995256,94.891420,0.004744,7.527205,0.010330,1.0,0.0,-66.117162,-60.559231,0.003857,655
656,0.546635,0.000000,0.938052,2.750404,0.061948,2.466139,0.141742,2.0,0.0,-56.748289,-53.695242,0.047215,656

In [28]:
df_MEME["class"] = ""

_class = []

# Iterate over FEL
for index, row in df_FEL.iterrows():
    #print(row['c1'], row['c2'])
    p_val = row["p-value"]
    dNdS  = row["dN/dS MLE"]
    
    if p_val <= 0.05:
        if dNdS < 1:
            _class.append("Purifying")
        else:
            _class.append("Diversifying")
        #end if
    elif p_val == 1:
         _class.append("Invariable")
    else:
        _class.append("Neutral")
    #end if
#end for

# Iterate over MEME
for index, row in df_MEME.iterrows():
    #print(index)
    #break
    p_val = row["p-value"]
    
    if p_val <= 0.05:
        _class[index - 1] = "Diversifying"
    #end if
#end for

# Add to df
df_MEME["class"] =_class

# Subset the df
df_subset = df_MEME[["codon", "class"]]

# Map
df_AlnMap = pd.read_csv(os.path.join("..", "results", "mammalian_REM2", "mammalian_REM2_codons.SA.fasta_AlignmentMap.csv"))

mapping = []

for site in df_subset["codon"].to_list():
    if site in df_AlnMap["AlignmentSite"].to_list():
        for n, item in enumerate(df_AlnMap["AlignmentSite"].to_list()):
            if item == site:
                mapping.append(n+1)
                break
            #end if
        #end for
    else:
        mapping.append(np.nan)
    #end if
#end for

df_subset["HumanREM2codon"] = mapping

# Save csv
df_subset.to_csv( os.path.join("..", "results", "mammalian_REM2", "mammalian_REM2_StructureView.csv"), index=False)

/var/folders/3l/76gtv9qd0v3_8hn3cb7hfbs40000gn/T/ipykernel_24398/2056341810.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset["HumanREM2codon"] = mapping

In [29]:
df_subset

     codon         class  HumanREM2codon
1        1  Diversifying             1.0
2        2     Purifying             2.0
3        3    Invariable             NaN
4        4    Invariable             NaN
5        5    Invariable             NaN
..     ...           ...             ...
652    652       Neutral           336.0
653    653     Purifying           337.0
654    654     Purifying           338.0
655    655  Diversifying           339.0
656    656       Neutral           340.0

[656 rows x 3 columns]